.listing
{
  width: 33.33%;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 2px grey;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
}
.rating
{
  color: #ECC425;
}
.name
{
  color: blue;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 22px;
}
.discount
{
  color: red;
  display: inline;
}
.location
{
  color: gray;
  font-size: 15px;
}
.developer
{
  font-size: 14px;
}
